
body {
    background-color: #ffcc99;
    font-size: 20;
}

input, select {
    width: 25%%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #026e02;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(2) {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

input:nth-of-type(3) {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

input:nth-of-type(4) {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

input:nth-of-type(5) {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.list-group-item {
    border: 1px solid black;
    font-weight: bold;
}
